.responseModal {
  position: fixed;
  background-color: #0B346C;
  top: 0;
  left: 0;
  margin: 1em;
  padding: 0.5em;
  border-radius: 10px;
  max-width: 300px;
  z-index: 50;
}

.responseModal_title {
    font-weight: bold;
    color: white;
    font-size: medium;
}
  
.responseModal_separator {
    width: 100%;
    border: 1px solid white;
    margin-top: 0;
}

.responseModal_messages {
    overflow-wrap: anywhere;
    text-align: left;
    color: white;
    font-size: medium;
}

.responseModal_messages:not(:last-child) {
      margin-bottom: 0.5em;
}

